<html>
  
    <body>
      <div class="content">
    <h1 class="title">Personajes Principales</h1>
    <mat-divider></mat-divider> 
       <pagination-controls class="paginacion"
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente">
</pagination-controls>
    <br>

<div fxLayout="row wrap"
fxLayout.xs="column"
fxLayoutAlign="space-evenly none"
fxLayoutGap="20px">

<div fxFlex="20"
fxFlex.lg="15"
fxFlex.sm="30"
*ngFor="let personajes of  personajes |
paginate: {itemsPerPage: 3, currentPage: page}">

<app-personaje-tarjeta [personaje]="personajes"></app-personaje-tarjeta>
</div>

</div>  
</div>  
    </body>
</html>



