/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 

    
        
      
}

body { margin: 0; font-family: Raleway, "Ralewat", sans-serif;


}


.spacer{
    flex: 1 1 auto;
    
}
.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
}
